*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar{
    background-image: linear-gradient(#306888, #6bb8e9);
}

.navbar-brand{
    font-size: 30px !important;
    font-weight: bold;
}

.nav-item{
    font-size: 22px !important;
    font-weight: bold;
}

.btn{
    background-image: linear-gradient(#306888, #6bb8e9);
    border: none !important;
    box-shadow: none !important;
    font-size: 22px !important;
}

.nav-tabs .nav-link.active{
    background-image: linear-gradient(#306888, #6bb8e9);
    color: white !important;
}